:root {
  /* fonts */
  --inter: "Inter", sans-serif;
  --playfair: "Playfair Display", serif;
  --quicksand: "Quicksand", sans-serif;

  /* colors */
  --light-background: #fff;
  --dark-background: #1a1a1a;
  --light-text-color: #000;
  --dark-text-color: #fff9;
  --link-color: #de68ff;
  --link-state-color: #db00b3;

  /* font sizes */
  --font-size-1: 4rem;
  --font-size-2: 3rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1rem;

  /* sizes  */
  --header-height: 100px;
  --footer-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--inter);
  font-size: var(--font-size-6);
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark-text-color);
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  background-color: #4c036d;
  box-shadow: 12px 0 10px rgb(0 0 0 / 1200%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* gap: 1rem; */
  align-items: center;
}

#app-name {
  font-family: var(--playfair);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--link-color);
}

#app-name:hover,
#app-name:focus,
#app-name:active {
  color: var(--link-state-color);
}

#search-container {
  min-width: 50%;
  height: 40px;

  /* border: solid 2px red; */
  border-radius: 30px;
}

form,
label,
button,
input {
  font-family: var(--playfair);
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: solid 1px rgb(0 0 0 / 10%);
  border-radius: 30px;
  background-color: rgb(0 0 0 / 30%);

  /* border: solid 3px black; */
}

label.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input {
  padding: 0 0.5rem 0 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5pt;
  text-transform: lowercase;
  word-break: break-word;
  color: #6e00ff;
  background-color: #f2f2f2;
  border: solid 1px rgb(0 0 0 / 10%);
  outline: none;
  width: 100%;

  /* border-radius: 2rem 0 0 2rem; */
  border-radius: 2rem; /* testing */
  text-overflow: ellipsis;
}

input:focus {
  color: #abcdef;
  border-right: none;
  background-color: rgb(0 0 0 / 50%);
}

/* input::input-placeholder, */

/* input::placeholder, */

/* input:input-placeholder, */

/* input::placeholder { */

/*  font-family: var(--playfair); */

/*  color: var(--dark-text-color); */

/*  text-transform: lowercase; */

/*  font-weight: 400; */

/* } */

button {
  padding: 0.25rem 1rem;
  font-weight: 500;
  background-color: #8741ec;
  border: solid 1px rgb(0 0 0 / 10%);
  border-radius: 0.1rem 2rem 2rem 0.1rem;
  color: #fff;
  outline: none;
  min-width: 100px;
  position: relative;
  z-index: 2;
}

button:hover,
button:focus,
button:active {
  cursor: pointer;
  pointer-events: all;
  background-color: var(--link-state-color);
}

#search-icon {
  fill: #fff;
  height: 2rem;
  width: 1.5rem;
}

#search-icon:hover {
  cursor: pointer;
  pointer-events: all;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:active,
a:visited {
  color: var(--link-state-color);
}

#no-query p {
  font-size: larger;
  font-family: var(--inter);
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-text-color);
  text-align: center;
  max-width: 70ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--playfair);
  font-weight: 700;
  line-height: 1.5;
  color: var(--dark-text-color);
}

main {
  margin: var(--header-height) auto var(--footer-height) auto;
  padding: 0;

  /* display: flex; */

  /* flex-direction: column; */

  /* justify-content: center; */

  /* align-items: center; */
  width: auto;
  height: 100%;

  /* border: solid 5px red; */

  /* width: 500px; */

  /* height: 500px; */
}

#cards-wrapper {
  display: flex;

  /* flex-direction: column; */

  /* justify-content: center; */

  /* align-items: center; */
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 200px;
  flex-grow: 1;
}

.card {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.7rem;
  border: solid 1px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  margin: 7px;
  min-height: 300px;
  box-shadow: 12px 36px 24px rgb(0 0 0 / 20%);
}

.quote {
  font-family: var(--playfair);
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  color: rgb(0 0 0 / 70%);
  font-style: normal;
  background-color: transparent;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 36px 36px 36px rgb(0 0 0 / 20%);
}

.quote::before {
  content: open-quote;
}

.quote::after {
  content: close-quote;
}

.author {
  font-family: var(--playfair);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(0 0 0 / 70%);
  text-align: center;
  flex: 1 1 auto;
}

.author:hover,
.author:active {
  text-decoration: underline 0.1rem wavy rgb(0 0 0 / 50%);
  cursor: pointer;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tags {
  font-family: var(--quicksand);
  font-weight: 700;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 2px;
  padding: 0.1rem 1rem;
  border-radius: 30rem;
  min-width: 50px;
  background-color: rgb(0 0 0 / 50%);
  color: var(--dark-text-color);
  box-shadow: 12px 36px 24px rgb(0 0 0 / 20%);
}

.tags:hover {
  cursor: pointer;
  background-color: rgb(0 0 0 / 70%);
  color: #bc87fd;
}

footer {
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 70px;
  color: var(--dark-text-color);
  text-align: center;
  background-color: #1c0228;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgb(255 255 255 / 10%);
  box-shadow: -12px 0 10px rgb(0 0 0 / 1200%);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* media queries */
@media screen and (min-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #search-container {
    width: 20%;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    color: var(--dark-text-color);
  }

  #no-query p {
    color: var(--dark-text-color);
  }
}
